{% extends "base.html.twig" %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <div class="forgot-password">
        {# Flash messagges #}
        {% for label, messages in app.flashes %}
          {% for message in messages %}
              <div class="forgot-password__error" >
                  {{ message|raw }}
              </div>
          {% endfor %}
        {% endfor %}

        <h1>Mot de passe oublié</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn--forgot-password">{{ button_label|default('Valider') }}</button>
        {{ form_end(form) }}

        <a class="forgot-password__link" href="{{ path('app_login') }}"> Retour sur le formulaire de connexion</a>
    </div>

{% endblock %}