{% extends 'base.html.twig' %}
{% block header %}
<a href="{{ path('home') }}">Notre offre</a>
    </div>
{{ include('base/_auth.html.twig') }}
{% endblock %}
{% block title %}Se connecter{% endblock %}

{% block body %}
<div class="container__form">
    <div class="form__login">
        <form class="form__login__form" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="form__login__title">Me connecter</h1>

            <label class="login__label" for="inputEmail">Email</label>
            <input class="login__input" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label class="login__label" for="inputPassword">Password</label>
            <input class="login__input" type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            <div class="login__register" >
               <p class="form__login__register">Vous n'avez pas de compte ?</p>
               <a class="login__register__link" href=" {{path('influencer_register')}} ">Influenceur</a>
               <a href=" {{path('business_register')}} ">Entreprise</a> 
            </div>
               
            <div class="form__login__btn">
                <button class="btn btn--form" type="submit">
                    Connexion
                </button>
                <a class="fogot-password" href={{ path('forgot_password') }}>Mot de passe oublié ?</a>
            </div>
        </form>
    </div>
    <div class="form__aside">
        <img class="img__login" src=" {{ asset('assets/images/illus/rocket.png') }} " alt="Illustration d'une fusée qui décolle">
    </div>
</div>
{% endblock %}
