{% extends "base.html.twig" %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}

    <div class="h-100 d-flex flex-column justify-content-center align-items-center text-center">
      {% for label, messages in app.flashes %}
          {% for message in messages %}
              <div class="forgot-password__error" >
                  {{ message|raw }}
              </div>
          {% endfor %}
        {% endfor %}

        {% if reset != true %}
            <h2>Veuillez saisir votre nouveau mot de passe</h2>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
            {{ form_end(form) }}

        {% else %}
            <a href={{ path('app_login') }}>Retour à la page de connexion</a>
        {% endif %}


    </div>

{% endblock %}