{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  <a class="logo__login" href="" id="login_auth"><i class="far fa-user-circle fa-4x "></i></a> 
  <div class="menu__auth" id="auth_menu">
    <nav class="menu__auth__nav">
      <a class="menu__auth__nav__link" href="">{{ app.user.username }}</a>
      {% if is_granted('ROLE_BUSINESS') %}
        <a class="menu__auth__nav__link" href={{ path('business_edit', {id: app.user.id}) }}>Paramètre du compte</a>
        <a class="menu__auth__nav__link" href={{ path('business_dashboard', {id: app.user.id}) }}>Mon dashboard</a>
      {% else %}
        <a class="menu__auth__nav__link" href={{ path('influencer_edit', {id: app.user.id}) }}>Paramètre du compte</a>
      {% endif %}
      {% if is_granted('ROLE_ADMIN') %}
        <a class="menu__auth__nav__link" href={{ path('easyadmin')}}>Back-office</a>
      {% endif %}
      <a class="menu__auth__nav__link" href={{ path('app_logout') }}>Se deconnecter</a>
    </nav>
  </div>
{% else %}
  <a class="btn btn--header" href="{{ path('app_login') }}">Inscription<br>connexion</a>
{% endif %}
