<div class="brand">
    <p class="brand__title">Ils nous font confiance:</p>
    <img src="{{ asset('assets/images/logo/mycom.png') }}" alt="">
    <img src="{{ asset('assets/images/logo/alibaba.png') }}" alt="">
    <img src="{{ asset('assets/images/logo/pixonic.png') }}" alt="">
    <img src="{{ asset('assets/images/logo/rhinoshield.png') }}" alt="">
    <img src="{{ asset('assets/images/logo/plarium.png') }}" alt="">
</div>