{% extends 'base.html.twig' %}
{% block header %}
<a href="{{ path('home') }}">Notre offre</a>
    </div>
    <a class="btn btn--audit" href=" {{path('business_audit')}} ">Votre audit gratuit</a>
{{ include('base/_auth.html.twig') }}
{% endblock %}
{% block title %}À propos{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('about') }}
{% endblock %}

{% block body %}
    <div id="root_about"></div>
    {% block javascripts %}
        {{ encore_entry_script_tags('about') }}
    {% endblock %}
{% endblock %}