{% extends 'base.html.twig' %}
{% block header %}
{{ include('base/_header_business.html.twig') }}
{% endblock %}
{% block title %}Votre audit{% endblock %}

{% block body %}
<div class="container__register">

    {{ include('base/_brand_business.html.twig') }}
    
    <div class="container container--register">
        <div class="register__form">
            <h1>Pour recevoir votre devis de <br> campagne d'influence marketing <br> sur mesure, c'est <span>simple.</span></h1>
            <p class="audit__content">Répondez au questionnaire puis programmez un <br> rendez-vous avec l'équipe. C'est toujours 100% gratuit.</p>
            {{ form_start(form) }}

            {{ form_row(form.budget) }}


            {{ form_row(form.goal) }}


            {{ form_row(form.deadline) }}

            <h2 class="audit__rdv">Programmez un rappel</h2>
            <p>Nous vous rappelons quand vous êtes disponibles</p>

            {{ form_row(form.dateRdv) }}
            {{ form_row(form.hourRdv) }}
            <button class="btn btn--register-audit">Programmer ces dates</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}