{% extends 'base.html.twig' %}
{% block header %}
{{ include('base/_header_business.html.twig') }}
{% endblock %}
{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="error__flash" >
            {{ message|raw }}
        </div>
    {% endfor %}
    {% endfor %}

<h1>Edition du mot de passe</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn">Modifier</button>
{{ form_end(form) }}

{% endblock %}