{% extends 'base.html.twig' %}
{% block header %}
{{ include('base/_header_business.html.twig') }}
{% endblock %}
{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container__register">
    

{{ include('base/_brand_business.html.twig') }}

    <div class="container container--register">
        <a href="{{ path('influencer_register') }}"></a>
        <div class="register__form">
            <h1 class="register__form__title">Inscrivez-vous, on s'occupe du reste. </h1>
            <p class="register__form__text">Vous êtes une entreprise ? Inscrivez-vous <a class="register__form__link" href="{{ path('influencer_register') }}">ici</a></p>
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.companyName) }}
            <button class="btn btn--register">Créer un compte et recevoir ma recommandation e-influence</button>
            {{ form_end(form) }}
        </div>
        <p class="register__form__accept">En soumettantle formulaire ci-dessus, vous acceptez les <a href="{{ path('main_legal') }}">Conditions générales</a> et <a href="{{ path('main_data_protection') }}">Politique de confidentialité</a>.</p>
    </div>
</div>
{% endblock %}