{% extends 'base.html.twig' %}
{% block header %}
{{ include('base/_header_business.html.twig') }}
{% endblock %}
{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
<div class="edit__password">
    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="error__flash" >
            {{ message|raw }}
        </div>
    {% endfor %}
    {% endfor %}

<h1>Edition du mot de passe</h1>

{{ form_start(form, {'attr': {'class': 'form__edit-password'}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn--account-edit-password">Modifier</button>
{{ form_end(form) }}
<a href={{ path('influencer_edit', {id: app.user.id}) }}>Retour à mes paramètres</a>
</div>
{% endblock %}