{% extends 'base.html.twig' %}
{% block header %}
    <a href="{{ path('business') }}">Vous êtes une entreprise ?</a>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="logo__login" href=""><i class="far fa-user-circle fa-4x "></i></a> 
    {% else %}
        <a class="btn btn--header" href="{{ path('app_login') }}">Inscription<br>connexion</a>
    {% endif %}
{% endblock %}
{% block title %}Influenceur{% endblock %}

{% block body %}
    <div class="section1 section1--influencer">
        <div class="section1__content">
            <h1 class="section1__h1">Collaborez avec vos <br> marques préférées</h1>
            <p class="section1__p">Une équipe d'experts et de passionés, des outils <br> puissants et un vrai suivi à votre disposition. <br> Recevez des offres de collaborations avec <br> des marques fortes</p>
            <a class="btn btn--influencer" href="">Créez votre compte gratuitement</a>
        </div>
        <img class="section1__img" src="{{ asset('assets/images/illus/influencer.png') }}" alt="Illustration représentant les médias sociaux">
    </div>

    {{ include('base/_brand.html.twig') }}
    <div class="section2">
        <img class="section2__img" src="{{ asset('assets/images/illus/illu_influencers.png') }}" alt="Illustration représentant les médias sociaux">
        <div class="section2__content">
            <h1 class="section2__h1">Monétisez votre audience</h1>
            <p class="section2__p">Vous avez besoin d’aide pour gérer votre carrière? négocier vos contrats ? avez-besoin d'écoute? de conseils? Mettez votre passion au service des marques qui vous font vibrer. Monétisez votre audience avec Bellybutton tout en gardant un oeil en temps réel sur vos campagnes grâce à la disponibilité de nos équipes et votre espace influenceur.Engagez votre audience. Nous gérons la collaboration avec les marques pour vous.</p> 
            <p class="section2__p"> Parce que la gestion de la relation avec les marques est souvent chronophage.Parce que que votre métier est de vous concentrer sur la création de contenu pour votre audience.Parce que les marques engagées et engageantes nécessitent un traitement premium.</p>
        </div>
    </div>

    {{ include('base/_project.html.twig') }}

{% endblock %}
