            <div class="articles__all">
                {% for article in articles %}
                    <div class="articles">
                        <div class="articles__position">
                            {% if article.image %}
                            <a href="{{ path('blog_show', {id: article.id}) }}">
                                <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('average')}}" alt="">
                            </a>
                            {% endif %}
                            {% for tag in article.tags %}
                            <a class="articles__tag" href="{{ path('blog_show_tag', {id: tag.id}) }}"> <i class="fas fa-tags"></i> {{ tag.name }} </a>
                            {% endfor %}
                        </div>
                            <a href="{{ path('blog_show', {id: article.id}) }}">
                                <h1 class="articles__title"> {{article.title}} </h1>
                                <p class="articles__text"> {{ article.body | slice(0,100) | raw }}...</p>
                            </a>
                    </div>
                {% endfor %}
            </div>