        <div class="aside">
            <h2>Les articles les plus consultés</h2>
            
            <div class="aside__article">
                <img src=" {{ asset('assets/blog/images/miniature.jpeg') }}" alt="">
                <div class="aside__article__content">
                    <h3 class="aside__article__tag">TOP 10</h3>
                    <p class="aside__article__p">10 façons de mieux gérer son temps quand on est influenceur</p>
                </div>
            </div>
            <div class="aside__article">
                <img src=" {{ asset('assets/blog/images/miniature.jpeg') }}" alt="">
                <div class="aside__article__content">
                    <h3 class="aside__article__tag">CONSEILS</h3>
                    <p class="aside__article__p">10 façons de mieux gérer son temps quand on est influenceur</p>
                </div>
            </div>
            <div class="aside__article">
                <img src=" {{ asset('assets/blog/images/miniature.jpeg') }}" alt="">
                <div class="aside__article__content">
                    <h3 class="aside__article__tag">STRORYTIME</h3>
                    <p class="aside__article__p">10 façons de mieux gérer son temps quand on est influenceur</p>
                </div>
            </div>
            <h2>Thèmes</h2>
            <div class="tag">
             {% for tag in tags %}
                <a href="{{ path('blog_show_tag', {id: tag.id}) }}"> {{ tag.name }} </a>
             {% endfor %}    
            </div>      
        </div>
    </div>
</div>


