{% extends 'base.html.twig' %}
{% block header %}
<a href="{{ path('home') }}">Notre offre</a>
    </div>
{{ include('base/_auth.html.twig') }}
{% endblock %}
{% block title %}Blog{% endblock %}
{% block body %}
<div class="container">
    <div class="container__blog">
        <div class="main">
            <div class="article">   
                <h1> {{article.title}} </h1>
                <p class="article__author"><span>Tim pruski</span> <span class="pseudo__admin">@timpruski</span> publié le {{article.createdAt |date("m/d/Y")}}</p>
                <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('full') }}" alt="">
                <div class="article__content"> {{article.body | raw}} </div>
                {% for tag in article.tags %}
                    <a class="article__tag" href="{{ path('blog_show_tag', {id: tag.id}) }}"><i class="fas fa-tags"></i>{{ tag.name }} </a>
                {% endfor %}
            </div> 

            {{ include('blog/_comment.html.twig') }}
        </div>
            {{ include('blog/_aside.html.twig') }}
{% endblock %}

