{% extends 'base.html.twig' %}
{% block header %}
<a href="{{ path('home') }}">Notre offre</a>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="logo__login" href=""><i class="far fa-user-circle fa-4x "></i></a> 
    {% else %}
        <a class="btn btn--header" href="{{ path('app_login') }}">Inscription<br>connexion</a>
    {% endif %}
{% endblock %}
{% block title %}Blog{% endblock %}
{% block body %}
<div class="container">
    <div class="container__blog">
        <div class="main">
            <div class="article">   
                <h1> {{article.title}} </h1>
                <p class="article__author"><span>Tim pruski</span> <span>@timpruski</span> publié le {{article.createdAt |date("m/d/Y")}}</p>
                <img src="{{ asset('assets/blog/images/blog-1.jpeg') }}" alt="">
                <p class="article__content"> {{article.body}} </p>
            </div> 
            <h3>Commentaires</h3>
        {% for comment in article.commentaries %}
        <div class="comment">
            <img src="" alt="">
            <h4> {{comment.username}} </h4>
            <p> {{comment.body}} </p>
        </div>

        {% endfor %}
    </div>

    {{ include('blog/_aside.html.twig') }}
{% endblock %}

