{% extends 'base.html.twig' %}
{% block header %}
<a href="{{ path('home') }}">Notre offre</a>
    </div>
{{ include('base/_auth.html.twig') }}
{% endblock %}
{% block title %}Blog{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('comments') }}
{% endblock %}
{% block body %}
<div class="container">
    <div class="container__blog">
        <div class="main">
            <div class="article">   
                <h1> {{article.title}} </h1>
                <p class="article__author">
                    {% for user in article.users %}
                    <span>{{ user.firstname }} {{ user.lastname }}</span> 
                    <span class="pseudo__admin">@{{ user.firstname | lower ~ user.lastname | lower }}</span> 
                    {% endfor %}
                    publié le {{article.createdAt |date("m/d/Y")}}
                </p>
                <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('full') }}" alt="">
                <div class="article__content"> {{article.body | raw}} </div>
                {% for tag in article.tags %}
                    <a class="article__tag" href="{{ path('blog_show_tag', {id: tag.id}) }}"><i class="fas fa-tags"></i>{{ tag.name }} </a>
                {% endfor %}
            </div> 
            <div id="root_comments" data-article-id="{{ article.id }}"></div>
        </div>
            {{ include('blog/_aside.html.twig') }}
            {% block javascripts %}
                {{ encore_entry_script_tags('comments') }}
            {% endblock %}
{% endblock %}

