{% extends 'base.html.twig' %}
{% block header %}
<a href="{{ path('home') }}">Notre offre</a>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="logo__login" href=""><i class="far fa-user-circle fa-4x "></i></a> 
    {% else %}
        <a class="btn btn--header" href="{{ path('app_login') }}">Inscription<br>connexion</a>
    {% endif %}
{% endblock %}
{% block title %}Blog{% endblock %}
{% block body %}
<div class="container">
    <div class="container__blog">
        <div class="main">
            <div class="last__article">
                <a href="">
                    <img src="{{ asset('assets/blog/images/blog-1.jpeg') }}" alt="">
                    <span class="last__article__tag">Story time</span>
                    <h1 class="last__article__title">toto</h1>
                </a>
            </div>
            <h2>Les derniers articles</h2>
            <div class="articles__all">
            {% for article in articles %}
                <div class="articles">
                    <a href="{{ path('blog_show', {id: article.id}) }}">
                        <img src="{{ asset('assets/blog/images/blog-1.jpeg') }}" alt="">
                            <span class="articles__tag"></span>
                        <h1 class="articles__title"> {{article.title}} </h1>
                        <p class="articles__text"> {{article.body}} </p>
                    </a>
                </div>
            {% endfor %}
        </div>
        </div>
        {% dump(articles) %}
        {{ include('blog/_aside.html.twig') }}
{% endblock %}

