{% extends 'base.html.twig' %}
{% block header %}
<a href="{{ path('business') }}">Notre offre</a>
    </div>
{{ include('base/_auth.html.twig') }}
{% endblock %}
{% block title %}Blog{% endblock %}
{% block body %}
<div class="container">
    <div class="container__blog">
        <div class="main">
            {{ include('blog/_last_article.html.twig') }}
            <h2 class="main__blog__title">Les derniers articles</h2>
            {{ include('blog/_articles.html.twig') }}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        {{ include('blog/_aside.html.twig') }}
        
{% endblock %}

