{% extends 'base.html.twig' %}
{% block header %}
<a href="{{ path('home') }}">Notre offre</a>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="logo__login" href=""><i class="far fa-user-circle fa-4x "></i></a> 
    {% else %}
        <a class="btn btn--header" href="{{ path('app_login') }}">Inscription<br>connexion</a>
    {% endif %}
{% endblock %}
{% block title %}Blog{% endblock %}

{% block body %}
<div class="container">
    <div class="container__blog">
        <div class="main">
            <div class="article">   
                <h1>Success stories : Découvrez la faubleuse histoire d'Hismile</h1>
                <p class="article__author"><span>Tim pruski</span> <span>@timpruski</span> / 29 avril 2020 / 2:00 </p>
                <img src="{{ asset('assets/blog/images/blog-1.jpeg') }}" alt="">
                <p class="article__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda numquam cum debitis. Tenetur dolorum, natus voluptas ducimus id possimus suscipit dolor adipisci, esse tempora consectetur autem, officia rem doloribus mollitia. <a href="">Lire l'article...</a> </p>
            </div> 
        </div>
{% endblock %}

{% block blog %}
        <div class="aside">
            <h2>Les articles les plus consultés</h2>
            
            <div class="aside__article">
                <img src=" {{ asset('assets/blog/images/miniature.jpeg') }}" alt="">
                <div class="aside__article__content">
                    <h3 class="aside__article__tag">TOP 10</h3>
                    <p class="aside__article__p">10 façons de mieux gérer son temps quand on est influenceur</p>
                </div>
            </div>
            <div class="aside__article">
                <img src=" {{ asset('assets/blog/images/miniature.jpeg') }}" alt="">
                <div class="aside__article__content">
                    <h3 class="aside__article__tag">CONSEILS</h3>
                    <p class="aside__article__p">10 façons de mieux gérer son temps quand on est influenceur</p>
                </div>
            </div>
            <div class="aside__article">
                <img src=" {{ asset('assets/blog/images/miniature.jpeg') }}" alt="">
                <div class="aside__article__content">
                    <h3 class="aside__article__tag">STRORYTIME</h3>
                    <p class="aside__article__p">10 façons de mieux gérer son temps quand on est influenceur</p>
                </div>
            </div>
                        
        </div>
    </div>
</div>
{% endblock %}
