{% extends 'base.html.twig' %}
{% block header %}
<a href="{{ path('home') }}">Notre offre</a>
    </div>
{{ include('base/_auth.html.twig') }}
{% endblock %}
{% block title %}Blog{% endblock %}
{% block body %}
<div class="container">
    <div class="container__blog">
        <div class="main">
            {{ include('blog/_articles.html.twig') }}
        </div>
        {{ include('blog/_aside.html.twig') }}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
{% endblock %}

