{% extends 'base.html.twig' %}
{% block header %}
</div>
{{ include('base/_auth.html.twig') }}
{% endblock %}
{% block title %}Paramètres du compte{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="error__flash" >
            {{ message|raw }}
        </div>
    {% endfor %}
    {% endfor %}

    <h1>Mes paramètres</h1>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
      <button class="btn ">{{ button_label|default('Enregistrer les modifications') }}</button>
    {{ form_end(form) }}

      
    <form method="post" action="{{ path('influencer_delete', {'id': user.id}) }}" >
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
      <!-- @TODO => JS pour confirmer la suppression du compte -->
      <button class="">Supprimer mon compte</button>
    </form>
{% endblock %}

