{% extends 'base.html.twig' %}
{% block header %}
</div>
{{ include('base/_auth.html.twig') }}
{% endblock %}
{% block title %}Paramètres du compte{% endblock %}

{% block body %}
  <div class="settings__account">
    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="error__flash" >
            {{ message|raw }}
        </div>
    {% endfor %}
    {% endfor %}

    <h1>Mes paramètres</h1>

    {{ form_start(form, {'attr': {'class': 'form__settings'}}) }}
    {{ form_row(form.email, {'attr': {'class': 'form__settings--row'}}) }}
    {{ form_row(form.firstname, {'attr': {'class': 'form__settings--row'}}) }}
    {{ form_row(form.lastname, {'attr': {'class': 'form__settings--row'}}) }}
      <button class="btn btn--account-settings">{{ button_label|default('Enregistrer les modifications') }}</button>
    {{ form_end(form) }}

    <a href={{ path('influencer_edit_password', {id: app.user.id}) }}>Modifier mon mot de passe</a>
    <form method="post" action="{{ path('influencer_delete', {'id': user.id}) }}" >
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
      <!-- @TODO => JS pour confirmer la suppression du compte -->
      <button class="btn--delete">Supprimer mon compte</button>
    </form>
  </div>
{% endblock %}

